# **Trabalho Final**
### Algoritmos e Programação com Linguagem Python
---

**Orientações Gerais:**

* Esta é o trabalho final prático onde serão trabalhados conceitos
apresentados e exercitados em sala de aula.

* Aspéctos como clareza e organização do código, comentários, raciocínio lógico, coerência no nome de variáveis, utilização das estruturas mais adequadas para a solução dos problemas e o funcionamento adequado serão analisados e irão compor o valor da nota final.

* Procure entender exatamente o que se pede antes de iniciar a codificação. Quando se sabe o que é necessário fazer, a codificação fica mais fácil, mais eficiente e mais divertida ;-).

* Faça o upload do notebook completo nomeado da seguinte forma: *nome_sobrenome_RA.ipynb*.

* No caso de grupos, informar ao professor os membros de cada grupo e cada um deverá importar o arquivo no Canvas individualmente.

* Arquivos com nomes incorretos serão desconsiderados!

* Não deixem dúvidas para trás! Acessem os grupos combinados ou entrem em contato com o professor.

✌ Sucesso o/

# RMS Titanic

O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável".

A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912, no caminho passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte matando mais de 1500 pessoas, sendo um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 m de profundidade e a 650 km ao sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, levando a produção de vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

*Fonte:* [WikiPedia](https://pt.wikipedia.org/wiki/RMS_Titanic)

--------

A equipe da [Udacity](https://udacity.com) disponibilizou informações sobre uma parte dos passageiros à bordo do RMS Titanic no dia daquela tragédia. Esse _dataset_ que contém informações reais vem sendo utilizado em diversos estudos de caso, além de servir de base para aprendizado de Ciência de Dados, Estatística e Machine Learning.

O arquivo **titanic_data.csv** contém informações reais sobre os passageiros organizadas da seguinte forma:

- Survived (Sobreviveu): 0 = Não, 1 = Sim
- Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º
- Sex (Sexo): Sexo do passageiro
- Age (Idade): Idade em anos
- Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic
- Parch: Quantidade de pais / crianças a bordo do Titanic
- Ticket (Bilhete): Número do bilhete de embarque
- Fare (Tarifa): Tarifa paga pelo Passageiro
- Cabin (Cabine): Número de cabine
- Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

O objetivo deste estudo é obter algumas informações estatísticas sobre a tragédia e realizar alguns _insights_ a respeito dos tripulantes e das circunstâncias do acidente.

Efetue a carga do arquivo através da biblioteca _Pandas_ e a partir do _DataFrame_ gerado, efetue as operações necessárias para responder as questões.

## Importando o DataSet

1 - Efetuar a leitura do dataset através do Pandas, gerando um DataFrame de nome tit, levando-se em consideração que o arquivo encontra-se na mesma pasta do notebook.

In [2]:
import pandas as pd

tit = pd.read_csv('titanic_data.csv')

## Conhecendo o DataSet

2 - Quantas linhas e colunas tem o dataset? Quais os tipos das colunas?

In [8]:
print('Quantidade de Linhas e Colunas: ')
print(tit.shape)
columns_name = tit.columns
print('Nome das colunas: ')
print(columns_name)

Quantidade de Linhas e Colunas:
(891, 12)
Nome das colunas:
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

3 - Mostre os dados dos dez primeiros e 8 últimos registros do dataset.

In [9]:
print("Primeiros 10 registros: ")
print(tit.head(10))

print("Últimos 8 registros: ")
print(tit.tail(8))

Primeiros 10 registros:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
Últimos 8 registros:
     PassengerId  Survived  Pclass                                      Name  \
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket    Fare Cabin Embarked
883    male  28.0      0      0  C.A./SOTON 34068  10.500   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.050   NaN        S
885  female  39.0      0      5            382652  29.125   NaN        Q
886    male  27.0      0      0            211536  13.000   NaN        S
887  female  19.0      0      0            112053  30.000   B42        S
888  female   NaN      1      2        W./C. 6607  23.450   NaN        S
889    male  26.0      0      0            111369  30.000  C148        C
890    male  32.0      0      0            370376   7.750   NaN        Q

4 - Cálculos envolvendo colunas numéricas com dados faltantes podem sofrer impacto. É possível afirmar se há dados faltantes no dataset? Caso positivo, quais e quantos seriam esses dados? Preencha os dados faltantes de forma que não influenciem em operações futuras.

In [13]:
dados_faltantes = tit.isnull().sum()
print(dados_faltantes)

#Preencher cabine com None
tit['Cabin'].fillna('None', inplace=True)
#Preencher idade com a média
tit['Age'].fillna(tit['Age'].mean(), inplace=True)
#Preencher com o que tiver maior qunatidade
tit['Embarked'].fillna(tit['Embarked'].mode()[0], inplace=True)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

<ipython-input-13-4d9769791672>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tit['Age'].fillna(tit['Age'].mean(), inplace=True)

## Adequando o DataSet

5 - Uma vez que algumas colunas não serão utilizadas, eventualmente é melhor excluí-las para que não interfiram na análise. Assim, exclua do dataset as colunas Sibsp, Parch e Ticket.

In [14]:
#Eliminando as colunas: Sibsp, Parch e Ticket.
tit_sem_colunas = tit.drop(['SibSp', 'Parch', 'Ticket'], axis=1)
print(tit_sem_colunas)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

        Fare Cabin Embarked
0     7.2500  None        S
1    71.2833   C85        C
2     7.9250  None        S
3    53.1000  C123        S
4     8.0500  None        S
..       ...   ...      ...
886  13.0000  None        S
887  30.0000   B42        S
888  23.4500  None        S
889  30.0000  C148        C
890   7.7500  None        Q

[891 rows x 9 columns]

6 - Renomear as colunas restantes para a lingua portuguesa, utilizando os seguintes nomes de colunas: IdPassageiro, Sobreviveu, Classe, Nome, Sexo, Idade, Tarifa, Cabine e Embarque.

In [16]:
#Renomeando para Portugues
tit = tit.rename(columns={
    'PassengerId': 'IdPassageiro',
    'Survived': 'Sobreviveu',
    'Pclass': 'Classe',
    'Name': 'Nome',
    'Sex': 'Sexo',
    'Age': 'Idade',
    'Fare': 'Tarifa',
    'Cabin': 'Cabine',
    'Embarked': 'Embarque'
})
print(tit)

     IdPassageiro  Sobreviveu  Classe  \
0               1           0       3
1               2           1       1
2               3           1       3
3               4           1       1
4               5           0       3
..            ...         ...     ...
886           887           0       2
887           888           1       1
888           889           0       3
889           890           1       1
890           891           0       3

                                                  Nome    Sexo      Idade  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket   Tarifa Cabine Embarque
0        1      0         A/5 21171   7.2500   None        S
1        1      0          PC 17599  71.2833    C85        C
2        0      0  STON/O2. 3101282   7.9250   None        S
3        1      0            113803  53.1000   C123        S
4        0      0            373450   8.0500   None        S
..     ...    ...               ...      ...    ...      ...
886      0      0            211536  13.0000   None        S
887      0      0            112053  30.0000    B42        S
888      1      2        W./C. 6607  23.4500   None        S
889      0      0            111369  30.0000   C148        C
890      0      0            370376   7.7500   None        Q

[891 rows x 12 columns]

7 - Alterar o conteudo da coluna Sobreviveu para:
- 0 => Não
- 1 => Sim

In [18]:
#Criando a variavel column_survived
column_survived = tit['Sobreviveu']
#Atribuindo a 1 - o valor inicial
column_survived = 1 - tit['Sobreviveu']
#Valores invertidos
print(column_survived)

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    1
889    0
890    1
Name: Sobreviveu, Length: 891, dtype: int64

8 - Alterar o conteudo da coluna Sexo para:
- female => Mulher
- male   => Homem

In [20]:
#Alterado conteudo da coluna Sexo para female => Mulher e male => Homem
tit['Sexo'] = tit['Sexo'].replace({'female': 'Mulher', 'male': 'Homem'})
print(tit['Sexo'])

0       Homem
1      Mulher
2      Mulher
3      Mulher
4       Homem
        ...
886     Homem
887    Mulher
888    Mulher
889     Homem
890     Homem
Name: Sexo, Length: 891, dtype: object

## Alguns números

9 - Quantas mulheres e quantos homems estavam à bordo, de acordo com o dataset?

In [23]:
#Descobrindo a quantidade de Mulheres
qtn_female = 0
for person in tit['Sexo']:
    if person == 'Mulher':
        qtn_female+=1
#Descobrindo a quantidade de Homens
quantidade_registros = len(tit)
qtn_male = quantidade_registros - qtn_female

#Quantidade de Mulheres:
print(f'A tinham {qtn_female} passageiros do sexo feminino')
#Quantidade de Homens:
print(f'A tinham {qtn_male} passageiros do sexo masculino')

A tinham 314 passageiros do sexo feminino
A tinham 577 passageiros do sexo masculino

10 - Quantos passageiros sobreviveram e quantos não sobreviveram?

In [26]:
#Pegando a contagem de sobreviventes
contagem_sobreviventes = tit['Sobreviveu'].value_counts()
#0 Morreu
#1 Viveu
sobreviventes = contagem_sobreviventes.get(1)
nao_sobreviventes = contagem_sobreviventes.get(0)
print(f'Sobreviventes: {sobreviventes}')
print(f'Não sobreviventes: {nao_sobreviventes}')

Sobreviventes: 342
Não sobreviventes: 549

11 - Quantas mulheres não sobreviveram?

In [30]:
#Descobrindo a quantidade de Mulheres que não sobreviveram
qtn_female_survived = 0
for person, survive in zip(tit['Sexo'], tit['Sobreviveu']):
    if person == 'Mulher' and survive == 0:
        qtn_female_survived+=1
print(f'Quantidade de Mulheres que não sobreviveram: {qtn_female_survived}')

Quantidade de Mulheres que não sobreviveram: 81

12 - Proporcionalmente, sobreviveram mais homens ou mais mulheres?

---

Cite as proporções.

In [33]:
#Contadores para homens e mulheres
total_male = 0
total_female = 0
survived_male = 0
survived_female = 0

for person, survive in zip(tit['Sexo'], tit['Sobreviveu']):
    if person == 'Mulher':
        total_female += 1
        if survive == 1:
            survived_female += 1
    elif person == 'Homem':
        total_male += 1
        if survive == 1:
            survived_male += 1

proportion_female = (survived_female / total_female)*100
proportion_male = (survived_male / total_male)*100

print(f"Quantidade de mulheres que sobreviveram: {survived_female}")
print(f"Quantidade de homens que sobreviveram: {survived_male}")
print(f"Proporção de sobreviventes (mulheres): {proportion_female:.2f}%")
print(f"Proporção de sobreviventes (homens): {proportion_male:.2f}%")

Quantidade de mulheres que sobreviveram: 233
Quantidade de homens que sobreviveram: 109
Proporção de sobreviventes (mulheres): 74.20
Proporção de sobreviventes (homens): 18.89

13 - Levando-se em consideração a idade dos passageiros, qual a idade e quantidade de pessoas com o maior número de mortos?

In [38]:
#Contar a frequência de cada número quando a coluna Sobreviveu for = 0
#Filtrar somente as linhas onde Sobreviveu == 0
tit_survived_zero = tit[tit['Sobreviveu'] == 0]

#Contar a frequência de números na coluna "Idade"
freq = tit_survived_zero['Idade'].value_counts()
print("Idade onde a quantidade de passageiros mortos foi maior: ")
print(freq.head(1))

Idade onde a quantidade de passageiros mortos foi maior:
Idade
29.699118    125
Name: count, dtype: int64

14 - Qual a média de idade dos homens sobreviventes?

In [45]:
#Criando dataframe de Homens Sobreviventes:
homens_sobreviventes = tit[(tit['Sexo'] == 'Homem') & (tit['Sobreviveu'] == 1)]
#Calculando a média:
media_idade_homens_sobreviventes = homens_sobreviventes['Idade'].mean()
print(f"A média de idade dos homens sobreviventes é: {media_idade_homens_sobreviventes:.0f} anos")

A média de idade dos homens sobreviventes é: 28 anos

15 - Levando-se em consideração passageiros prioritários (mulheres e crianças de até 15 anos independente do sexo) qual a proporção de sobreviventes por sexo?

In [48]:
#Contadores para passageiros prioritários
priority_total_male = 0
priority_total_female = 0
priority_survived_male = 0
priority_survived_female = 0

#Descobrindo a quantidade de passageiros com prioridade que sobreviveram
for person, survive, age in zip(tit['Sexo'], tit['Sobreviveu'], tit['Idade']):
    if person == 'Mulher':
        priority_total_female += 1
        if survive == 1:
            priority_survived_female += 1
    #Prioridade jovens e crianças de até 15 anos
    elif age <= 15:
        priority_total_male += 1
        if survive == 1:
            priority_survived_male += 1

#Calcular proporções de sobreviventes homens e mulheres
proportion_female = (priority_survived_female / priority_total_female)*100
proportion_male = (priority_survived_male / priority_total_male)*100

print(f"Proporção de sobreviventes (mulheres): {proportion_female:.2f}%")
print(f"Proporção de sobreviventes (homens até 15 anos): {proportion_male:.2f}%")

Proporção de sobreviventes (mulheres): 74.20%
Proporção de sobreviventes (homens até 15 anos): 52.50%

16 - Qual a quantidade de passageiros por classe?

In [53]:
#Fazendo a contagem por Classe
contagem_classe = tit['Classe'].value_counts()
#Pegando os valores por Classe
classe_tres = contagem_classe.get(3)
classe_dois = contagem_classe.get(2)
classe_um = contagem_classe.get(1)
print(f'Quantidade de Passageiros da Classe 3: {classe_tres}')
print(f'Quantidade de Passageiros da Classe 2: {classe_dois}')
print(f'Quantidade de Passageiros da Classe 1: {classe_um}')

Quantidade de Passageiros da Classe 3: 491
Quantidade de Passageiros da Classe 2: 184
Quantidade de Passageiros da Classe 1: 216

17 - Qual o percentual de sobreviventes por classe?

In [60]:
#Total de passageiros por classe
total_por_classe = tit['Classe'].value_counts()

#Sobreviventes por classe
sobreviventes_por_classe = tit[tit['Sobreviveu'] == 1]['Classe'].value_counts()

#Percentual de sobreviventes por classe
percentual_sobreviventes = (sobreviventes_por_classe / total_por_classe * 100).sort_index()

print(f'Percentual de sobreviventes da Classe 3: {percentual_sobreviventes.get(3):.2f}%')
print(f'Percentual de sobreviventes da Classe 2: {percentual_sobreviventes.get(2):.2f}%')
print(f'Percentual de sobreviventes da Classe 1: {percentual_sobreviventes.get(1):.2f}%')

Percentual de sobreviventes da Classe 3: 24.24%
Percentual de sobreviventes da Classe 2: 47.28%
Percentual de sobreviventes da Classe 1: 62.96%

18 - Crie um dataframe que demonstre a quantidade de sobreviventes e não sobreviventes, agrupados por sexo e classe.

In [71]:
#Agrupando os valores por Sexo, Classe e Sobreviveu:
valores_agrupados = tit.groupby(['Sexo', 'Classe', 'Sobreviveu']).size()
print(valores_agrupados)

Sexo    Classe  Sobreviveu
Homem   1       0              77
                1              45
        2       0              91
                1              17
        3       0             300
                1              47
Mulher  1       0               3
                1              91
        2       0               6
                1              70
        3       0              72
                1              72
dtype: int64

19 - Dos homens com idade entre 24 e 30 anos quantos da classe 3 sobreviveram? Quantos da classe 2 não sobreviveram?

In [63]:
#Homens com idade entre 24 e 30 anos na classe 3 que sobreviveram
homens_classe3_sobreviveram = tit[
    (tit['Sexo'] == 'Homem') &
    (tit['Idade'] >= 24) &
    (tit['Idade'] <= 30) &
    (tit['Classe'] == 3) &
    (tit['Sobreviveu'] == 1)
].shape[0]

#Homens com idade entre 24 e 30 anos na classe 2 que não sobreviveram
homens_classe2_nao_sobreviveram = tit[
    (tit['Sexo'] == 'Homem') &
    (tit['Idade'] >= 24) &
    (tit['Idade'] <= 30) &
    (tit['Classe'] == 2) &
    (tit['Sobreviveu'] == 0)
].shape[0]

print(f"Quantidade de Homens entre 24 e 30 anos da classe 3 que sobreviveram: {homens_classe3_sobreviveram}")
print(f"Quantidade de Homens entre 24 e 30 anos da classe 2 que não sobreviveram: {homens_classe2_nao_sobreviveram}")

Quantidade de Homens entre 24 e 30 anos da classe 3 que sobreviveram: 21
Quantidade de Homens entre 24 e 30 anos da classe 2 que não sobreviveram: 31

20 - Calcule a probabilidade condicional de uma pessoa sobreviver, dado seu sexo e a classe em que estava viajando:
- P(S= true | G=female,C=1)
- P(S= true | G=female,C=2)
- P(S= true | G=female,C=3)
- P(S= true | G=male,C=1)
- P(S= true | G=male,C=2)
- P(S= true | G=male,C=3)

In [91]:
#Agrupando os dados de Classe e Sexo
valores_agrupados = tit.groupby(['Sexo', 'Classe'])
#print(valores_agrupados)
total_sobreviventes_por_grupo = valores_agrupados['Sobreviveu'].sum()
total_grupo = valores_agrupados['Sobreviveu'].count()
#Calculando a probabilidade
probabilidade_por_classe = (total_sobreviventes_por_grupo / total_grupo)*100
print('Probabilidade de uma pessoa sobreviver dado seu Sexo e Classe que estava viajando')
print(probabilidade_por_classe)

Probabilidade de uma pessoa sobreviver dado seu Sexo e Classe que estava viajando
Sexo    Classe
Homem   1         36.885246
        2         15.740741
        3         13.544669
Mulher  1         96.808511
        2         92.105263
        3         50.000000
Name: Sobreviveu, dtype: float64